<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}LUMI
			{% endblock %}
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Inter:wght@400;500&display=swap" rel="stylesheet">
		{# {% block stylesheets %}
						{{ tailwind_css() }}
						{% endblock %} #}
		{# {% block stylesheets %}
						<link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
						{% endblock %} #}


			{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('app.css') }}"> {% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}

		{% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
		{% if frankenphpHotReload %}
			<meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
			<script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
			<script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
		{% endif %}
	</head>


	<body class="bg-gradient-to-b from-[#F0EEFF] to-[#F1EAFA] min-h-screen flex flex-col">
		{% block header %}
			{% include '_partials/_header.html.twig' %}
		{% endblock %}
		<main class="flex-grow"> {% block body %}{% endblock %}
			</main>

			{% include '_partials/_footer.html.twig' %}

		</body>
	</html>
